{
	acme_ca https://acme-v02.api.letsencrypt.org/directory
}

{$DOMAIN} {
	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
	}

	handle /ws* {
		reverse_proxy gateway:9101
	}

	handle /grafana* {
		reverse_proxy grafana:3000
	}

	handle {
		reverse_proxy pwa:80
	}
}
