{
	admin off
	persist_config off
	acme_ca https://acme-v02.api.letsencrypt.org/directory
}

{$DOMAIN} {
	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer"
		Permissions-Policy "camera=(self), microphone=(self), geolocation=()"
		Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
	}

	handle /ws* {
		reverse_proxy gateway:9101
	}

	handle /relay* {
		reverse_proxy relay:9301
	}

	handle /grafana* {
		reverse_proxy grafana:3000
	}

	handle {
		reverse_proxy pwa:8080
	}
}
